body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 50px;
    color: #333;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#taskList li button:hover {
    background-color: #c0392b;
}

#addTask {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

/* #addTask:hover {
    background-color: #2980b9;
} */

#taskInput {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}